.toggled {
  overflow: visible;
  width: 6.5rem !important;
}

.toggled1 {
  width: 0 !important;
  overflow: hidden;
}
.App {
  text-align: center;
}



.sidebar-icon {
  width: 20px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.765);
}


.user-account-icon {
  margin-right: 8px;
}

.sidebar-brand {
  background-color: #ff3cac;
  background-image: linear-gradient(225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%);
}
 
.right-arrow {
  margin-left: 10px;
  color: rgba(0, 255, 255, 0.781);
}

@media screen and (min-width: 320px) and (max-width: 728px) {
  .right-arrow {
    display: none;
  }
}

